<div class="container">
<h2>Contact Us</h2>
<p class="supertiny">&nbsp;</p>
<table cellpadding="3">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Noora Al-Dosari</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("ndosari@andrew.cmu.edu", "ndosari", :encode => "javascript") %> 
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>412-268-8211</td>
	</tr>
</table>

<p class="note"><br>*I am an Information Systems student at Carnegie Mellon University</p>
			
</div>